.checkout{
    width: 400px;
    min-height: 530px;
    margin: 40px auto;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 2px 1px rgb(145, 145, 145);
}

.titulo{
    text-align: center;
    margin: 20px;
    padding-top: 20px;
    color: rgb(7, 75, 7);
}

.infoOrder{
    padding-left: 9px;
    font-size: 18px;
}